<!DOCTYPE html> <title>good vibes</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/background.css') }}"
/>
<body>
	<div
		id="sliding-background1"
		class="sliding-background"
		style="z-index: -2"
	></div>
	<div
		id="sliding-background2"
		class="sliding-background"
		style="z-index: -1"
	></div>
</body>
<script>
	let startimage = {{ start }};
</script>
<script
	src="{{ url_for('static', filename='scripts/background.js') }}"
	type="module"
></script>
